# ignore problem description and sdk
16HUAWEI_CodeCraft/Problem/

# ignore /bin
16HUAWEI_CodeCraft/future_net/bin/

# ignore problemset
16HUAWEI_CodeCraft/ProblemSet

# ignore testcase
16HUAWEI_CodeCraft/future_net/scripts/*test*/

# ignore compressed file
*.tar.gz
